@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;900&family=Poppins&display=swap');

:root{
    --primary-color: #401D3A;
    --secondary-color: #FFC043;
    --rose-color: #AC5AA9;
    --letras-first-color: #000000;
    --letras-second-color: #FFFFFF;
    --fonte-letra-principal: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    gap: 0;
}

a{
    text-decoration: none;
    
}

body{
    background-color: var(--primary-color);    
    min-height: 100vh;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

/* Configuração dos elemento de Navegação */

nav{
    background-color: var(--secondary-color);
    border: var(--letras-first-color) double;
    margin: 2%;
    padding: 1.6%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 9%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.adote{
    color: var(--letras-first-color);
    font-size: 1.25rem;
    font-family: var(--fonte-letra-principal);
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
}

.img_logo{
    width: 45%;
    height: auto;
    display: block;
    min-width: 25px;
}
.devweb{
    color: var(--letras-first-color);
    font-size: 0.8rem;
    font-family: var(--fonte-letra-principal);
    font-weight: Light;
}

.button_usability{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    
}
.cadastro_login{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

.cadastro{
    font-family: var(--fonte-letra-principal);
    color: var(--letras-first-color);
}

.login{
    font-family: var(--fonte-letra-principal);
    color: var(--letras-first-color);
}

.selecao_itens{
    font-size: 1.7rem;
}

/*Conteúdo Principal */

.img_dog{
    width: 35%;
    height: auto;
    margin: 0 0 0 10%;
}

main{
    flex: 1;
    display: flex;
    align-items: center;
    
}


.content{
    display: flex;
    flex: 1;
    justify-content: space-around;
    gap: 15%;
}

/*Tela de Cadastro*/

.cadastro{
    border: var(--secondary-color) solid;
    border-radius: 15px;
    background-color: var(--secondary-color);
    padding: 0% 5% 5% 5%;
    max-height: 55%;
    margin: 0% 0% 0% 15%;
    white-space: nowrap;
}

.texto_cadastro{
    padding: 0 0 17% 0;
}

.caixa_input{
    border: none;
    border-radius: 7px;
    font-family: var(--fonte-letra-principal);
    box-shadow: 2px 1px 4px 1px;
    height: 1.6rem;
    margin: 4% 0 0 0;
    min-width: 100%;
}

.email{
    padding: 0 0 6% 0;

}
.senha{
    padding: 0 0 6% 0;
}
.resenha{
    margin: 0 0 6% 0;
}
.button_confirmar button {
    background-color: var(--letras-second-color);
    color: var(--letras-first-color);
    font-family: var(--fonte-letra-principal);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button_confirmar button:hover {
    background-color: var(--primary-color);
    color: var(--letras-second-color);
}


/* Roda Pé */

footer{
    border: var(--secondary-color) solid;
    border-radius: 15px;
    background-color: var(--secondary-color);
    
    bottom: 0;
    width: 95%;
    padding: 2%;
    margin: 0.35%;
}

@media screen and (max-width: 768px) {
    .img_dog {
        width: 65%; 
        height: auto;
        margin: 0 auto;
    }
    .caixa_input{
        border: none;
        border-radius: 7px;
        font-family: var(--fonte-letra-principal);
        box-shadow: 2px 1px 4px 1px;
        height: 1.6rem;
        margin: 4% 0 0 0;
        min-width: 85%;
    }
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
    .cadastro{
        margin: 5% 0 0 0;
        padding: 0% 8%;
    }
    .div_dog {
        display: flex;
        justify-content: center; 
        align-items: center; 
    }
    .button_confirmar{
        padding: 0 0 5% 0;
    }
}